<app-menu></app-menu>
<div class="grid-y fluid">
    <div class="cell small-3">
        <br />
    </div>
    <div class="cell small-3">
        <app-botlanddisplay [botlandData]="botlandData" [chartData]="chartData" [botlandDataTrigger]="botlandDataTrigger"></app-botlanddisplay>
        <br />
    </div>
    <div class="cell small-3">
        <app-botlandhistoricalleaderboard [botlandLeaderboard]="botlandLeaderboard" [botlandLeadeboardDataTrigger]="botlandLeadeboardDataTrigger"></app-botlandhistoricalleaderboard>
        <br />
    </div>
    <div class="cell small-3">
        <app-botlandwinners [botlandLeaderboard]="botlandLeaderboard" [botlandLeadeboardDataTrigger]="botlandLeadeboardDataTrigger"></app-botlandwinners>
        <br />
    </div>
</div>