<div *ngIf="(playerSkills && playerSkills.length > 0) || (classBonuses && classBonuses.length > 0)">
    <span style="font-weight: bold;">Skill Color Legend:</span>
    <br />
    <span>
        <span *ngIf="playerHasEliteMonsteer()">
            <fa-icon [icon]="faSquare" [style.color]="'darkblue'"></fa-icon><span> Elite Monster </span>
        </span>
        <span *ngIf="playerHasStrongMonster()">
            <fa-icon [icon]="faSquare" [style.color]="'blue'"></fa-icon><span> Strong Monster </span>
        </span>
        <span *ngIf="playerHasMonster()">
            <fa-icon [icon]="faSquare" [style.color]="'green'"></fa-icon><span> Monster </span>
        </span>
        <span *ngIf="playerHasJob()">
            <fa-icon [icon]="faSquare" [style.color]="'purple'"></fa-icon><span> Job </span>
        </span>
        <span *ngIf="playerHasEquipment()">
            <fa-icon [icon]="faSquare" [style.color]="'brown'"></fa-icon><span> Equipment </span>
        </span>
        <span *ngIf="playerHasEntry()">
            <fa-icon [icon]="faSquare" [style.color]="'black'"></fa-icon><span> Entry </span>
        </span>
        <span *ngIf="playerHasMovement()">
            <fa-icon [icon]="faSquare" [style.color]="'red'"></fa-icon><span> Movement </span>
        </span>
        <span *ngIf="playerHasReaction()">
            <fa-icon [icon]="faSquare" [style.color]="'rgb(204,204,0)'"></fa-icon><span> Reaction </span>
        </span>

        <span *ngIf="playerHasSupport()">
            <fa-icon [icon]="faSquare" [style.color]="'grey'"></fa-icon><span> Support </span>
        </span>
        <span *ngIf="playerHasPrestigeSkill()">
            <fa-icon [icon]="faSquare" [style.color]="'orange'"></fa-icon><span> Prestige </span>
        </span>
        <span *ngIf="playerHasLegendary()">
            <fa-icon [icon]="faSquare" [style.color]="'darkgoldenrod'"></fa-icon><span> Legendary </span>
        </span>

    </span>
</div>