.firstBackgroundAndText {
    background: #D3D3D3;
    color: black;
}

.secondBackgroundAndText {
    background: gray;
    color: black;
}

table {
    vertical-align: top;
}

td {
    vertical-align: top;
}