<app-menu></app-menu>
<div class="grid-y fluid">
    <div class="cell small-2">
        <br />
    </div>
    <div class="cell small-8">
        <div class="grid-x fluid">
            <div class="cell small-3"></div>
            <div class="cell small-6">
                <h3>Active Bots</h3>
                <app-bot-leaderboard-table [leaderboard]="leaderboard"></app-bot-leaderboard-table>
                <br />
                <div class="balance-history-graph">
                  <app-mychartcomponent [chartData]="chartData" [width]="700" [height]="350"></app-mychartcomponent>
                </div>
                <br />
                <h3>Inactive Bots</h3>
                <app-bot-leaderboard-table [leaderboard]="inactiveBots"></app-bot-leaderboard-table>
            </div>
            <div class="cell small-3">
                <br />
            </div>
        </div>
    </div>
    <div class="cell small-2">
        <div class="grid-x fluid">
            <div class="cell small-3"></div>
            <div class="cell small-6">
                <span>This leaderboard was generated: {{generationDateString}}"</span>
            </div>
            <div class="cell small-3"></div>
        </div>
    </div>
</div>
