<div class="grid-y">
    <div class="cell small-2">
        <br />
    </div>
    <div class="cell small-2">
        <span style="font-weight: bold;">Betting</span><br />
        <span>Wins: </span><span id="winSpan">{{playerData.playerRecord.wins}}</span> <span> Losses: </span><span
            id="lossSpan">{{playerData.playerRecord.losses}}</span><span> Ratio: </span><span
            id="ratioSpan">{{playerData.betRatio}}</span>
        <span> Percentile: </span><span id="betPercentile"
            *ngIf="playerData.betPercentile != null">{{playerData.betPercentile + 'th'}}</span><span id="betPercentile"
            *ngIf="playerData.betPercentile == null"
            title="Percentiles are only calculated for players who have been active in the last 30 days">None</span>
        <br />
        <span>Estimated Balance: </span><span
            id="estimatedBalanceSpan">{{playerData.playerRecord.lastKnownAmount.toLocaleString() + 'G'}}</span> <span>
            Highest Known Amount: </span><span
            id="highestKnownAmount">{{playerData.playerRecord.highestKnownAmount.toLocaleString() + 'G'}}</span><br />
        <span>Last Active: </span><span id="lastActive">{{playerData.timezoneFormattedDateString}}</span>
        <br />
    </div>
    <br />
    <div class="cell small-2">
        <span style="font-weight: bold;">Fighting</span><br />
        <span>Wins: </span><span id="fightWinSpan">{{playerData.playerRecord.fightWins}}</span> <span> Losses:
        </span><span id="fightLossSpan">{{playerData.playerRecord.fightLosses}}</span> <span> Ratio: </span><span
            id="fightRatioSpan">{{playerData.fightRatio}}</span>
        <span> Percentile: </span><span id="fightPercentile"
            *ngIf="playerData.fightPercentile != null">{{playerData.fightPercentile + 'th'}}</span><span
            id="fightPercentile" *ngIf="playerData.fightPercentile == null"
            title="Percentiles are only calculated for players who have been active in the last 30 days">None</span>
        <br />
        <span>Snub Streak: </span><span>{{playerData.playerRecord.snubStreak}}</span><span> tries</span>
        <span *ngIf="playerData.timezoneFormattedLastFightActiveDateString">
            <br />
            <span> Last Fight Active: </span><span>{{playerData.timezoneFormattedLastFightActiveDateString}}</span>
        </span>
    </div>
    <br />
    <div class="cell small-2">
        <span style="font-weight: bold;">Other Data:</span><br />
        <span>Estimated Level: </span><span
            id="estimatedLevelSpan">{{playerData.playerRecord.lastKnownLevel}}</span><span> Estimated Remaining Exp:
        </span><span id="estimatedRemainingExp">{{playerData.playerRecord.lastKnownRemainingExp}}</span>
        <br />
        <span>Allegiance: </span><span id="allegiance"
            [style.color]="allegianceColor(playerData.playerRecord.allegiance)">{{(playerData.playerRecord.allegiance ? playerData.playerRecord.allegiance : 'NONE') | uppercase}}</span>
        <span> Prestige Level: </span><span id="prestigeLevel">{{prestigeLevel}}</span>

        <br />
        <span> Percentage of Global Gil: </span><span
            id="percentageOfGlobalGil">{{playerData.percentageOfGlobalGil}}%</span>
        <br />
        <span>Leaderboard Rank: #</span><span id="rank"
            *ngIf="playerData.leaderboardPosition">{{playerData.leaderboardPosition}}</span><span id="rank"
            *ngIf="!playerData.leaderboardPosition"
            title="Leaderboard ranks are only calculated for players who have been active in the last 30 days">None</span>
        <span> Exp Rank: #</span><span id="expRank"
            *ngIf="playerData.expRank">{{playerData.expRank}}</span><span id="expRank"
            *ngIf="!playerData.leaderboardPosition"
            title="Leaderboard ranks are only calculated for players who have been active in the last 30 days">None</span>
        <br />
    </div>
    <div class="cell small-2">
        <br />
    </div>
    <div class="cell small-2"></div>
</div>