<ul class="dropdown vertical menu" dropdown #dropdown="bs-dropdown">
    <li class="is-dropdown-submenu-parent">
        <input dropdownToggle type="image" src="assets/twitch.png" class="primary dropdown"
            aria-controls="dropdown-button" style="height: 50px; width: auto;" />
        <div *dropdownMenu class="dropdown-pane" role="menu">
            <div class="switch">
                <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
                <label class="switch-paddle" for="exampleSwitch">
                    <span class="show-for-sr">Download Kittens</span>
                </label>
            </div>
        </div>
    </li>
</ul>