<span class="phase">
  <span class="phase-title">Phase: </span>
  <br />
  <ng-container *ngIf="isLoadingNotice(notice)" id="loadingNotice">
      <app-loading-phase></app-loading-phase>
  </ng-container>
  <ng-container *ngIf="isMatchNotice(notice)">
    <app-match-phase [eventTime]="eventTime"></app-match-phase>
  </ng-container>
  <ng-container *ngIf="isFightNotice(notice)">
    <app-fight-phase [eventTime]="eventTime" [fightEntries]="fightEntries"></app-fight-phase>
  </ng-container>
  <ng-container *ngIf="isBettingNotice(notice)">
    <app-betting-phase [eventTime]="eventTime"></app-betting-phase>
  </ng-container>
  <ng-container *ngIf="isResultsNotice(notice)">
    <app-results-phase [eventTime]="eventTime"></app-results-phase>
  </ng-container>
</span>
