<app-menu></app-menu>
<div class="grid-y fluid">
    <div class="cell small-1"></div>
    <div class="cell small-3" style=" text-align: center;">
        <br />
        <h1>Current Global Gil Count: <span *ngIf="globalGilCountData != null && globalGilCountData !== undefined">{{globalGilCountData.todaysCount.globalGilCountWebFormat}}</span></h1>
        <h1>Active Gil Count: {{globalGilCountData.todaysActiveGilCount | number}}</h1>
        <h1>Active Median Gil Count: {{globalGilCountData.median | number}}</h1>
        <p>as of: <span *ngIf="globalGilCountData != null && globalGilCountData !== undefined">{{globalGilCountData.todaysCount.dateWebFormat}}</span></p>
        <br />
    </div>
    <div class="cell small-2"></div>
    <div class="cell small-4">
        <div class="grid-x">
            <div class="cell small-3"></div>
            <div class="cell small-6">
                <tabset *ngIf="globalGilCountData != null && globalGilCountData !== undefined">
                    <tab heading="By Day">
                        <app-globalgilcounttab [globalGilCountData]="globalGilCountData.countByDay" [timeUnit]="'day'"></app-globalgilcounttab>
                    </tab>
                    <tab heading="By Week">
                        <app-globalgilcounttab [globalGilCountData]="globalGilCountData.countByWeek" [timeUnit]="'week'"></app-globalgilcounttab>
                    </tab>
                    <tab heading="By Month">
                        <app-globalgilcounttab [globalGilCountData]="globalGilCountData.countByMonth" [timeUnit]="'month'"></app-globalgilcounttab>
                    </tab>
                    <tab heading="By Year">
                        <app-globalgilcounttab [globalGilCountData]="globalGilCountData.countByYear" [timeUnit]="'year'"></app-globalgilcounttab>
                    </tab>
                </tabset>
            </div>
            <div class="cell small-3"></div>
        </div>
    </div>
    <div class="cell small-2"></div>
</div>