<app-menu></app-menu>
<div class="grid-x fluid">
    <div class="cell small-3"></div>
    <div class="cell small-6">
        <br />
        <h2>Stream Music Playlist</h2>
        <br />
        <p>Current song count: {{songCount | number}}</p>
        <br />
        <p>
          <span>Tracking {{totalOccurences | number}} distinct song plays for {{totalSongsWithOccurences | number}} songs since {{firstOccurenceString}}.  </span>
          <span *ngIf="(songCount - totalSongsWithOccurences) > 0">{{songCount - totalSongsWithOccurences | number}} songs have yet to be played.</span>
        </p>
        <div *ngIf="displayTable">
            <table datatable [dtOptions]="databaseOptions" class="row-border hover" id="playlistTable"></table>
        </div>
    </div>
    <div class="cell small-3">
        <br />
    </div>
</div>
