<app-menu></app-menu>
<div class="grid-x fluid">
    <div class="cell small-3"></div>
    <div class="cell small-6">
        <br />
        <h2>Stream Music Playlist</h2>
        <br />
        <p>Current song count: {{songCount | number}}</p>
        <br />
        <p>
          <span>Tracking {{totalOccurences | number}} distinct song plays for {{totalSongsWithOccurences | number}} songs since {{firstOccurenceString}}.  </span>
          <span *ngIf="totalSongsWithoutOccurences >= 0">{{totalSongsWithoutOccurences | number}} songs have yet to be played.</span>
        </p>
        <br />
        <br />
        <div *ngIf="displayTable">
            <table datatable [dtOptions]="databaseOptions" class="row-border hover" id="playlistTable"></table>
        </div>
        <div *ngIf="!displayTable">
            <p>Loading playlist...</p>
            <img src="assets/Spinner-1s-200px.gif" />
        <br />
        <div>
          <app-playlist-song-count-graph showCharts="true"></app-playlist-song-count-graph>
        </div>
        <br />
        <div *ngIf="searchEnabled">
          <span >The below search links are unofficial links that make it easy to perform Youtube searches for songs in the Playlist.</span>
          <br />
        </div>
    </div>
    <div class="cell small-3">
      <br />
    </div>
</div>
