.player {
		text-decoration: underline;
}

.fightPlayerName {
		text-decoration: underline;
}

.textLoading {
	height: 16px;
}

.imageLoading {
	height: 125px;
	width: 148px;
}

.leftPlayerImageLoading {
	height: 125px;
	width: 148px;
}

.rightPlayerImageLoading {
	height: 125px;
	width: 148px;
}

.leftPlayerNameLoading {
	height: 16px;
}

.rightPlayerNameLoading {
	height: 16px;
}

.mapPlayerLoadingImage {
	height: 16px;
}

.raidBoss {
	font-weight: bold;
}