.player {
		text-decoration: underline;
}

.fightPlayerName {
		text-decoration: underline;
}

.textLoading {
	height: 16px;
}

.imageLoading {
	height: 125px;
	width: 148px;
}

.leftPlayerImageLoading {
	height: 125px;
	width: 148px;
}

.rightPlayerImageLoading {
	height: 125px;
	width: 148px;
}

.leftPlayerNameLoading {
	height: 16px;
}

.rightPlayerNameLoading {
	height: 16px;
}

.mapPlayerLoadingImage {
	height: 16px;
}

.raidBoss {
	font-weight: bold;
}

mwl-gauge {
  width: 20px;
  height: 20px;
  display: block;
  padding: 10px;
}
mwl-gauge > .gauge > .dial {
  stroke: lightblue;
  stroke-width: 2;
  fill: lightblue;
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: lightblue;
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
