<li id="{{betEntry.player + 'Record'}}">
    <span id="{{betEntry.player + 'Name'}}" class="player" title="{{betEntry.titleString()}}">
        <a id="{{betEntry.player + 'DataLink'}}" href="{{'/player/' + betEntry.player}}" target="_blank" style="color: inherit;">{{betEntry.player}}</a>
        <app-favorite-player-star [player]="betEntry.player"></app-favorite-player-star>
    </span>
    <span>-</span>
    <span id="{{betEntry.player + 'BetAmount'}}" class="betAmount" title="{{betEntry.betText}}" >{{betEntry.betAmount | number:'1.0':'en-US'}}</span>
    <span *ngIf="isSpecial()">
        <span [title]="betEntry.betType.toString() | titlecase">{{betEntry.betType.toLocaleLowerCase() != 'value' ? '*' : ''}}</span>
    </span>
</li>
