<div style="display: block;" *ngIf="chartData != null && chartData !== undefined && chartData.chartData != null && chartData.chartData !== undefined && chartData.chartData.length > 0; else loading">
  <canvas baseChart
    [datasets]="chartData.chartData"
    [labels]="chartData.chartLabels"
    [options]="chartData.chartOptions"
    [colors]="chartData.chartColors"
    [legend]="chartData.chartLegend"
    [chartType]="chartData.chartType"
    [plugins]="chartData.chartPlugins"

    [width]="width != null && width !== undefined ? width : null"
    [height]="height != null && height !== undefined ? height : null"
    >
  </canvas>
</div>
<ng-template #loading>
  <img class="fightLoading rightPlayerImageLoading"
    [width]="width != null && width > 0 ? width/2 : 100"
    [height]="height != null && height > 0 ? height/2 : 100"
    src="assets/Spinner-1s-200px.gif"
  />
</ng-template>
