<div class="top-bar" style="background-image: url(/assets/bgtexture.png)">
	<div class="top-bar-left" >
		<ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu style="background-image: url(/assets/bgtexture.png)">
			<li><img src="/assets/bigbrain.png" /></li>
			<li class="menu-text">FFTB Viewer</li>
			<li class="is-active">
				<a href="/">
					<span style="text-decoration: underline; color: black;">Live Feed</span>
					<ng-container *ngIf="isBettingBeginsEvent(event) || isBettingEndsEvent(event)">
						<span style="color: black;">(</span>
						<span *ngIf="isBettingBeginsEvent(event)" style="color: black;">Betting&#160;</span>
						<span [style.color]="getTeamColor(extractTeam1Allegiance(event))">{{extractTeam1Name(event)}}</span>
						<span style="color: black;">&#160;vs&#160;</span>
						<span [style.color]="getTeamColor(extractTeam2Allegiance(event))">{{extractTeam2Name(event)}}</span>
						<span style="color: black;">)</span>
					</ng-container>
					<span *ngIf="isFightBegins(event)" style="color: black;">
						(!fight)
					</span>
				</a>
			</li>
			<li>
				<a class="menuLink" href="/player"><span class="menuItem">Player Data</span></a>
			</li>
			<li>
				<a class="menuLink" href="/playerLeaderboard"><span class="menuItem">Player Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/botleaderboard"><span class="menuItem">Bot Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/expLeaderboard"><span class="menuItem">Exp Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/ascension"><span class="menuItem">Ascensions</span></a>
			</li>
			<li>
				<a class="menuLink" href="/allegianceLeaderboard"><span class="menuItem">Allegiance Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/apidocs"><span class="menuItem">API</span></a>
			</li>
			<li>
				<a class="menuLink" href="/music"><span class="menuItem">Playlist</span></a>
			</li>
			<li>
				<a class="menuLink" href="/gilCount"><span class="menuItem">Global Gil Count</span></a>
			</li>
			<li>
				<a class="menuLink" href="/botland"><span class="menuItem">Botland</span></a>
			</li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu style="background-image: url(/assets/bgtexture.png)">
			<li>
				<a style="color: purple;" href="https://www.twitch.tv/fftbattleground"><span class="menuItem">Twitch Stream</span></a>
			</li>
			<li>
				<a class="menuLink" href="https://fftbg.com/"><span class="menuItem">FFBG</span></a>
			</li>
			<li>
				<a class="menuLink" href="https://www.mustad.io/"><span class="menuItem">Mustadio.io</span></a>
			</li>
			<li>
				<a class="menuLink" href="https://fftbg.help/"><span class="menuItem">FFTBG Help</span></a>
			</li>
			<li>
				<a class="menuLink" href="https://birb-brains-bot.app/#!/home"><span class="menuItem">BirbBrainsBot</span></a>
			</li>
		</ul>
	</div>
</div>