<div class="top-bar" style="background-image: url(/assets/bgtexture.png)">
	<div class="top-bar-left" >
		<ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu style="background-image: url(/assets/bgtexture.png)">
			<li><img src="/assets/bigbrain.png" /></li>
			<li class="menu-text">FFTB Viewer</li>
			<li class="is-active">
				<a href="/">
          <app-live-page-status></app-live-page-status>
				</a>
			</li>
			<li>
				<a class="menuLink" href="/player"><span class="menuItem">Player Data</span></a>
			</li>
			<li>
				<a class="menuLink" href="/playerLeaderboard"><span class="menuItem">Player Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/botleaderboard"><span class="menuItem">Bot Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/expLeaderboard"><span class="menuItem">Exp Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/ascension"><span class="menuItem">Ascensions</span></a>
			</li>
			<li>
				<a class="menuLink" href="/allegianceLeaderboard"><span class="menuItem">Allegiance Leaderboard</span></a>
			</li>
			<li>
				<a class="menuLink" href="/apidocs"><span class="menuItem">API</span></a>
			</li>
			<li>
				<a class="menuLink" href="/music"><span class="menuItem">Playlist</span></a>
			</li>
			<li>
				<a class="menuLink" href="/gilCount"><span class="menuItem">Global Gil Count</span></a>
			</li>
			<li>
				<a class="menuLink" href="/botland"><span class="menuItem">Botland</span></a>
			</li>
      <li>
        <a class="menuLink" href="/options"><span class="menuItem">Options</span></a>
      </li>
      <li>
        <a class="menuLink" href="/portraits"><span class="menuItem">Portraits</span></a>
      </li>
      <li>
        <a class="menuLink" href="/maps"><span class="menuItem">Maps</span></a>
      </li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu style="background-image: url(/assets/bgtexture.png)">
			<li>
				<a style="color: purple;" href="https://www.twitch.tv/fftbattleground"><span class="menuItem">Twitch Stream</span></a>
			</li>
			<li>
				<a class="menuLink" href="https://fftbg.com/"><span class="menuItem">FFBG</span></a>
			</li>
			<li>
				<a class="menuLink" href="https://www.mustad.io/"><span class="menuItem">Mustadio.io</span></a>
			</li>
      <li>
        <a class="menuLink" href="https://wiznaib.us/"><span class="menuItem">wiznaib.us</span></a>

      </li>
			<li>
				<a class="menuLink" href="https://fftbg.help/"><span class="menuItem">FFTBG Help</span></a>
			</li>
			<li>
				<a class="menuLink" href="https://birb-brains-bot.app/#!/home"><span class="menuItem">BirbBrainsBot</span></a>
			</li>
      <li>
        <a class="menuLink" href="http://fft-bot.herokuapp.com"><span class="menuItem">smokebowlingbot</span></a>
      </li>
		</ul>
	</div>
</div>
