<div class="grid-x">
    <div class="cell small-1"></div>
    <div  class="cell small-2 text-left">
        <span *ngIf="team1">
            <span class="fightData" id="team1Name" [style.color]="getTeamColor(team1)">{{team1.toString() | titlecase}}</span>
            <img *ngIf="!team1" class="fightLoading textLoading teamNameLoading" src="assets/Pulse-1s-200px.gif" />
            <app-tournamenttrackerstars [tournamentWinData]="tournamentWinMap.get(team1)" [team]="team1"></app-tournamenttrackerstars>
        </span>
    </div>
    <div class="cell small-1"></div>
    <div class="cell small-4 text-center">
      <app-meme-tournament-settings [notice]="notice" [memeTournamentSettings]="memeTournamentSettings"></app-meme-tournament-settings>
      <br />
      <app-phase [notice]="notice" [fightEntries]="fightEntries" [eventTime]="eventTime"></app-phase>
    </div>
    <div class="cell small-1"></div>
    <div class="cell small-2 text-right">
        <span *ngIf="team2">
            <span  class="fightData" id="team2Name" [style.color]="getTeamColor(team2)">{{team2.toString() | titlecase}}</span>
            <img *ngIf="!team2" class="fightLoading textLoading teamNameLoading" src="assets/Pulse-1s-200px.gif" />
            <app-tournamenttrackerstars [tournamentWinData]="tournamentWinMap.get(team2)" [team]="team2"></app-tournamenttrackerstars>
        </span>
    </div>
    <div class="cell small-2"></div>
</div>
