<app-menu></app-menu>
<div style="background-color: white;">
    <h2 [id]="bot.botName + 'ModalTitle'">{{bot.botName}}</h2>
    <span [id]="bot.botName + 'ModalBotDescription'">{{bot.botData.description}}</span>
    <br />
    <br />
    <app-singlebotleaderboarddata [botLeaderboardData]="botLeaderboardData"></app-singlebotleaderboarddata>
    <br />
    <div *ngIf="containsGenefile()">
        <strong>GeneFile: </strong><a [href]="'genefile/' + getGeneFile()">{{getGeneFile()}}</a>
    </div>
    <div id="accountChartDiv" style="max-height:350px; max-width:700px;">
        <app-mychartcomponent [chartData]="myChartData" [width]="700" [height]="350"></app-mychartcomponent>
    </div>
    <br />
    <app-botxml [botData]="bot.botData"></app-botxml>
</div>