<div class="grid-x" style="height: 125px">
    <div class="cell small-1"></div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam1UnitInfo(0)" [teamInfo]="liveData.getTeam1TeamInfo(0)"></app-fightimage>
    </div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam1UnitInfo(1)" [teamInfo]="liveData.getTeam1TeamInfo(1)"></app-fightimage>
    </div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam1UnitInfo(2)" [teamInfo]="liveData.getTeam1TeamInfo(2)"></app-fightimage>
    </div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam1UnitInfo(3)" [teamInfo]="liveData.getTeam1TeamInfo(3)"></app-fightimage>
    </div>
    <div class="cell small-2 text-center">
        <div class="grid-y">
            <span><img src="assets/vs-swords.png" style="height: 35px; margin-top: 35px; margin-bottom: 35px" title="versus" /></span>
        </div>
    </div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam2UnitInfo(0)" [teamInfo]="liveData.getTeam2TeamInfo(0)"></app-fightimage>
    </div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam2UnitInfo(1)" [teamInfo]="liveData.getTeam2TeamInfo(1)"></app-fightimage>
    </div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam2UnitInfo(2)" [teamInfo]="liveData.getTeam2TeamInfo(2)"></app-fightimage>
    </div>
    <div class="cell small-1 text-left" style="display: flex; justify-content: center; align-items: center;">
        <app-fightimage [unitInfo]="liveData.getTeam2UnitInfo(3)" [teamInfo]="liveData.getTeam2TeamInfo(3)"></app-fightimage>
    </div>
    <div class="cell small-1"></div>
</div>