<ng-template #template>
    <div *ngIf="renderModal()" style="background-color: white;">
        <h2 [id]="bot.player + 'ModalTitle'">{{'Bot: ' + bot.player}}</h2>
        <p [id]="bot.player + 'ModalBotDescription'">{{botConfigData.description}}</p>
        <br />
        <div *ngIf="botConfigData.params.size > 0" [id]="bot.player + 'FieldDescriptions'">
            <p>Field Descriptions:</p>
            <div *ngFor="let botParamName of botConfigData.params.keys()" >
                <span>
                    <b>Field Name: </b> <span [id]="bot.player + 'ModalParams' + botConfigData.params.get(botParamName).name + 'FieldName'">{{botConfigData.params.get(botParamName).name}}</span>
                </span>
                <br />
                <span>
                    <b>Field Value: </b> <span [id]="bot.player + 'ModalParams' + botConfigData.params.get(botParamName).name + 'FieldValue'">{{botConfigData.params.get(botParamName).value}}</span>
                </span>
                <br />
                <span>
                    <b>Field Description: </b> <span [id]="bot.player + 'ModalParams' + botConfigData.params.get(botParamName).name + 'FieldDescription'">{{botConfigData.params.get(botParamName).description}}</span>
                </span>
                <br />
                <br />
            </div>
        </div>
        <div id="accountChartDiv" style="max-height:350px; max-width:700px;">
            <app-mychartcomponent [chartData]="myChartData" [width]="700" [height]="350"></app-mychartcomponent>
        </div>
        <br />
    </div>
</ng-template>