@import '../../livepage.component.scss';

.betEntry {
    border-style: 
    solid; word-wrap: 
    break-word; 
    border-radius: 25px; 
    background-color: white;
}

.betList {
    list-style-type: none;
}