<app-menu></app-menu>
<div class="grid-container fluid grid-frame">
	<div class="grid-y">
		<div class="cell small-1"><br /></div>
		<div class="cell small-3">
      <app-player-record-header [playerData]="playerData"></app-player-record-header>
		</div>
		<div class="cell small-3">
			<br />
			<br />
		</div>
		<div class="cell small-4">
			<app-player-record-core
        [playerData]="playerData"
        [userSkills]="userSkills"
        [prestigeSkills]="prestigeSkills"
      ></app-player-record-core>
		</div>
		<div class="cell small-1"></div>
	</div>
</div>
