<app-menu></app-menu>
<div class="grid-container fluid grid-frame">
	<div class="grid-y">
		<div class="cell small-1"><br /></div>
		<div class="cell small-2">
			<div class="grid-container">
				<div class="cell small-5"><br /></div>
				<div class="cell small-2">
					<app-twitchembed></app-twitchembed>
				</div>
				<div class="cell small-5"><br /></div>
			</div>
		</div>
		<div class="cell small-3">
			<app-matchblock [liveData]="liveService.liveData"></app-matchblock>
		</div>
		<div class="cell small-1"><br /></div>
		<div class="cell small-3">
			<app-grids 
				[team1]="liveService.liveData.team1"
				[team2]="liveService.liveData.team2"
				[team1BetEntries]="liveService.liveData.team1BetEntries" 
				[team2BetEntries]="liveService.liveData.team2BetEntries" 
				[fightEntries]="liveService.liveData.fightEntries"
				[gridMode]="liveService.liveData.gridMode">
			</app-grids>
		</div>
		<div class="cell small-1"></div>
	</div>
</div>
